################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtificialIntelligence/ArtificialIntelligence/bin/Debug
